# Halloy config.
#
# For a complete list of available options,
# please visit https://halloy.chat/configuration/

theme = "midnight"

[servers.soju]
nickname = "<nick>"
server = "<server>"
port     = <port>
chathistory = true
[servers.soju.sasl.plain]
username = "<username>"
password = "<password>"

[buffer.chathistory]
infinite_scroll = true

[buffer.backlog_separator]
hide_when_all_read = true

[buffer.mark_as_read]
on_buffer_close = "scrolled-to-bottom"
on_scroll_to_bottom = true

[buffer.channel.nicklist]
away = "dimmed"

[buffer.server_messages]
join.smart = 900
part.smart = 900
quit.smart = 900
change_nick.smart = 900

[buffer.channel.topic_banner]
enabled = false

[actions.buffer]
click_channel_name = "replace-pane"
click_highlight = "replace-pane"
click_username = "replace-pane"
local = "replace-pane"
message_channel = "replace-pane"
message_user = "replace-pane"

[actions.sidebar]
buffer = "replace-pane"

[font]
size = 15

[buffer.emojis]
show_picker = true
skin_tone = "default"
auto_replace = true

[buffer.server_messages.condense]
format = "full"

[sidebar.unread_indicator]
icon = "lightbulb"
highlight_icon = "circle-empty"
